<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CREATE</title>


  <!-- 
    - Scripts
  -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../static/images/CREATE.jpg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../static/css/style2.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Sans+Pro:wght@600;700&display=swap"
    rel="stylesheet">
</head>





<body id="top">

  <!-- 
    - #HEADER
  -->









  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a  href="#">
        <h1 id="logo2" class="logo2">CREATE <span>COMUNICAÇÃO</span></h1>
      </a>  

      <nav class="navbar" data-navbar>

        <div class="navbar-top">
          <a  href="#" class="logo2">-----------</a>

          <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">



        </ul>

      </nav>

      <div class="mobi">
        <a href="https://www.instagram.com?theme=dark" class="inst">
          <ion-icon id="inst" name="logo-instagram"></ion-icon>
        </a>
    </div>


    <div class="mobii">
      <a href="javascript: history.go(-1)" class="cet">
         <ion-icon  id="cet" name="chevron-back-outline"></ion-icon>    
      </a>
  </div>





    </div>

    <hr>
  </header>














  <div class="mobff">

    <section class="section blog" id="blog">
      




            <div class="container">

              <h1 id="ll" >NOSSOS SERVIÇOS</h1>
            
                        <ul class="blog-list">

                                      
                                          <div class="blog-card">

                                                  <figure class="banner">
                                                    <a href="#">
                                                      <img src="../static/images/srv1.png" width="750" height="350" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                                                    </a>
                                                  </figure>




                                                  <figure class="banner">
                                                    <a href="#">
                                                      <img src="../static/images/srv2.png" width="750" height="350" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                                                    </a>
                                                  </figure>
                                                
                                                
                                                
                                                
                                                
                                                  <figure class="banner">
                                                    <a href="#">
                                                      <img src="../static/images/srv3.png" width="750" height="350" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                                                    </a>
                                                  </figure>





                                                  <figure class="banner">
                                                    <a href="#">
                                                      <img src="../static/images/srv4.png" width="750" height="350" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                                                    </a>
                                                  </figure>





                                                  <figure class="banner">
                                                    <a href="#">
                                                      <img src="../static/images/srv5.png" width="750" height="350" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                                                    </a>
                                                  </figure>




                                                  
                                                  <figure class="banner">
                                                    <a href="#">
                                                      <img src="../static/images/srv6.png" width="750" height="350" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                                                    </a>
                                                  </figure>












                                                  
                                                  <figure class="banner">
                                                    <a href="https://www.instagram.com/dantasdefense/">
                                                      <img src="../static/images/srv7.png" width="750" height="350" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                                                    </a>
                                                  </figure>







                                                  
                                                  <figure class="banner">
                                                    <a href="#">
                                                      <img src="../static/images/srv8.png" width="750" height="350" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                                                    </a>
                                                  </figure>




        
                                                  <figure class="banner">
                                                    <a href="#">
                                                      <img src="../static/images/srv9.png" width="750" height="350" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                                                    </a>
                                                  </figure>











                                          </div>

                          </ul>

              </div>

              

    
















        
        </div>

      </section>

    </article>
  </main>

</div>















































  




  <main>
    <article>

      <!-- 
        - #HERO
      -->

 







      <div class="mobf">

    
        <div class="mobf">


        <section class="section blog" id="blog">
        


                      
                          <div class="container">


                            
                            <a id="lll" >NOSSOS SERVIÇOS</a>
                          





                            


                            <!-- - #ROW PRIMEIRA COLUNA NA HORIZONTAL - -->

                            <div class="row">


                                          <div class="column">
                                              <a href="#"> 
                                                <div class="containe">
                                                    <img class="img" src="/static/images/srv1.png" />
                                                </div>
                                              </a>
                                          </div>
                                        

                                        
                                        
                                          <div class="column">
                                            <a href="#"> 
                                              <div class="containe">
                                                  <img class="img" src="/static/images/srv2.png" />
                                              </div>
                                            </a>
                                          </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                          <div class="column">
                                            <a  href="#"> 
                                              <div class="containe">
                                                  <img class="img" src="/static/images/srv3.png" />
                                              </div>
                                            </a>
                                          </div>


                                          

                            </div>
















                            <div class="row3">

                              



                              <div class="column">
                                <a  href="#"> 
                                  <div class="containe">
                                      <img class="img" src="/static/images/srv4.png" />
                                  </div>
                                </a>
                              </div>









                              <div class="column">
                                <a  href="#"> 
                                  <div class="containe">
                                      <img class="img" src="/static/images/srv5.png" />
                                  </div>
                                </a>
                              </div>





                              <div class="column">
                                <a href="#/"> 
                                  <div class="containe">
                                      <img class="img" src="/static/images/srv6.png" />
                                  </div>
                                </a>
                            </div>
                          


                            </div>





























                          <div class="row2">

                                  
                                  
                                    <div class="column">
                                      <a  href="#"> 
                                        <div class="containe">
                                            <img class="img" src="/static/images/srv7.png" />
                                        </div>
                                      </a>
                                    </div>
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                    <div class="column">
                                      <a  href="#"> 
                                        <div class="containe">
                                            <img class="img" src="/static/images/srv8.png" />
                                        </div>
                                      </a>
                                    </div>


                                         
                                    <div class="column">
                                      <a  href="#"> 
                                        <div class="containe">
                                            <img class="img" src="/static/images/srv9.png" />
                                        </div>
                                      </a>
                                    </div>


                            </div>




                          </div>


        
        

        </section>

      </article>
    </main>
</div>







































<div class="footer-bottom">
  <p class="copyright">
    &copy; 2023 <a href="https://www.instagram.com/?theme=dark" class="copyright-link">CREATE COMUNICAÇÃO INTELIGENTE </a>. Todos os direitos reservados.
  </p>
</div>











  <!-- 
    - #GO TO TOP
  -->

  <a href="https://api.whatsapp.com/send?" class="go-top active" aria-label="Go To Top" data-go-top>
    <ion-icon  name="logo-whatsapp"></ion-icon>
  </a>


  <!-- 
    - custom js link
  -->
  <script src="../static/js/script2.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
